<!--
============================================
; Title: Bob's Computer Repair Shop
; Author: Troy Martin
; Date: 11/05/2019
; Modified By: Troy Martin
; Description: WEB425
;===========================================
-->
<div fxLayout="column" fxFlexFill style="background-color: #E2F2FF;">
  <div fxLayout="row" fxFlex="1 1 30%" fxLayoutAlign="center center">
    <h2 style="margin:5px;">Our Services</h2>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <!-- using an ngFor loop the products and output them as material buttons -->
    <button mat-button *ngFor="let product of products">
      <mat-icon class="services__icon" inline="true">{{
        product.icon
      }}</mat-icon>
      {{ product.description }}
    </button>
  </div>
</div>
