<div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="entryGroup" fxLayout="column wrap"  fxFlex="1 1 50%">
      <app-product-offerings (total)="setTotal($event)" (selectedProducts)="setSelectedProducts($event)"></app-product-offerings>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="1 1 50%">
          <input matInput type="number" formControlName="laborHours" placeholder="Labor Hours">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="1 1 50%">
          <input matInput type="number" formControlName="partsTotal" placeholder="Parts Total">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="order--total">
        <span><b>Total</b></span>
        <span *ngIf="orderGrandTotal > 0">{{ orderGrandTotal | currency: "USD" }}</span>
      </div>
    </form>
</div>

