<!--
============================================
; Title: Bob's Computer Repair Shop
; Author: Troy Martin
; Date: 11/05/2019
; Modified By: Troy Martin
; Description: WEB425
;===========================================
-->
<div fxLayout="row" fxLayoutAlign="center center">
  <!-- define the form and form group for the entry-->
  <form [formGroup]="entryGroup" (ngSubmit)="submit()" fxLayout="column wrap" fxFlex="1 1 50%">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          Order Entry #12345
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <!-- bind the inputs of the component to functions to set the values -->
        <app-product-offerings
          (total)="setTotal($event)"
          (selectedProducts)="setSelectedProducts($event)"
        ></app-product-offerings>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="1 1 50%">
            <input
              matInput
              type="number"
              formControlName="laborHours"
              placeholder="Labor Hours"
            />
          </mat-form-field>
          <mat-chip-list>
            <mat-chip [selected]="this.laborGrandTotal > 0" color="accent">{{
              this.laborGrandTotal | currency: "USD"
            }}</mat-chip>
          </mat-chip-list>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="1 1 50%">
            <input
              matInput
              type="number"
              formControlName="partsTotal"
              placeholder="Parts Total"
            />
          </mat-form-field>
          <mat-chip-list>
            <mat-chip [selected]="this.partsGrandTotal > 0" color="accent">{{
              this.partsGrandTotal | currency: "USD"
            }}</mat-chip>
          </mat-chip-list>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="order--total"
        >
          <span><b>Total</b></span>
          <!-- use the currency pipe to format the number to dollars, display if there is a value more than 0 -->
          <span *ngIf="orderGrandTotal > 0">{{
            orderGrandTotal | currency: "USD"
          }}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button>Cancel</button>

          <!-- bind the click event to the submit function-->
          <button mat-raised-button color="primary" (click)="submit()">
            Create Invoice
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
