<!--
============================================
; Title: Exercise 2.4
; Author: Troy Martin
; Date: 09/19/2019
; Modified By: Troy Martin
; Description: Child Routes
;===========================================
-->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Child Routes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <!-- use ngClass to set the active class on the link, using setActive function call on click event -->
        <li class="nav-item"><a class="nav-link" [ngClass]="{'active':activePath === 'home'}" routerLink="/" (click)="setActive('home')">Home</a></li>
        <li class="nav-item"><a class="nav-link" [ngClass]="{'active':activePath === 'product'}" routerLink="/product/{{productId}}" (click)="setActive('product')">Product</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- output for the router path -->
<router-outlet></router-outlet>
