<!-- Define the material toolbar applying our custom menu css -->
<mat-toolbar class="footer" role="footer">
  <!-- Define a single row for the toolbar -->
  <mat-toolbar-row>
    <i class="fa fa-facebook footer__social__icon"></i>
    <i class="fa fa-twitter footer__social__icon"></i>
    <i class="fa fa-instagram footer__social__icon"></i>
    <div fxFlex></div>
    <address class="footer__address">
      12345 Main St Omaha, NE 68127
      ph. 402.555.5555
    </address>
    <div fxFlex></div>
    <mat-icon>shield</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
