<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-card fxFlex="1 1 25%">
    <img
      mat-card-image
      src="../../assets/blaz-erzetic-C-Cml4m7rUo-unsplash.jpg"
      alt="Image"
    />
    <mat-card-content>
      <p>
        Today's technology
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="1 1 25%">
    <img
      mat-card-image
      src="../../assets/nikolai-chernichenko-fE01RfgmN7o-unsplash.jpg"
      alt="Image"
    />
    <mat-card-content>
      <p>
        Technology jobs on the rise.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="1 1 25%">
    <img
      mat-card-image
      src="../../assets/pr-media-iuU2aZdzp_M-unsplash.jpg"
      alt="Image"
    />
    <mat-card-content>
      <p>
        The cost of replacing that old phone.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="1 1 25%">
    <img
      mat-card-image
      src="../../assets/tistio-ZO0weaaDrBs-unsplash.jpg"
      alt="Image"
    />
    <mat-card-content>
      <p>
        We can fix it.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
