<!--
============================================
; Title: Assignment 4.3
; Author: Troy Martin
; Date: 09/28/20xx
; Modified By: Troy Martin
; Description: Async Pipe
;===========================================
-->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- output the title property -->
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="Home">Fruits</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <!-- loop the fruits array and output a table row for each fruit -->
      <tr *ngFor="let fruit of fruits">
        <td>{{fruit.id}}</td>
        <td>{{fruit.name}}</td>
        <td>{{fruit.pricePerPound}}</td>
        <td>{{fruit.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
