<!--
============================================
; Title: Exercise 5.3
; Author: Troy Martin
; Date: 10/04/2019
; Modified By: Troy Martin
; Description: Material Cards
;===========================================
-->

<!-- Define the material toolbar applying our custom menu css -->
<mat-toolbar class="menu" role="header" color="primary">
  <!-- Define a single row for the toolbar -->
  <mat-toolbar-row>
    <!-- Define the badge for the toolbar -->
    <button mat-button class="tool__icon-button mat-button">
      <!-- Use the web material icon -->
      <mat-icon>web</mat-icon>
      <span style="margin-left: 5px !important">WEB 425</span>
    </button>
    <!-- Define additional buttons for the toolbar -->
    <button mat-button class="mat-button">About</button>
    <button mat-button class="mat-button">Contact Us</button>
    <!-- spacing div -->
    <div fxFlex></div>
    <!-- Drop down menu button-->
    <button mat-button class="tool__icon-button mat-button" [matMenuTriggerFor]="menu" mat-icon-button>
      <!-- Use the account circle material icon -->
      <mat-icon>account_circle</mat-icon>
    </button>
    <!-- define the dropdown menu -->
    <mat-menu #menu>
      <!-- add options to the dropdown menu-->
      <button mat-menu-item>
        <!-- use a material icon-->
        <mat-icon>perm_contact_calendar</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item>
        <!-- use a material icon -->
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <!-- use a material icon-->
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


<div class="wrapper">
  <div class="frm-login">
    <!-- define the material card -->
    <mat-card class="login-panel frm-login-panel">
      <!-- define the header for the card -->
      <mat-card-header class="frm-login-header">
        <!-- add a material toolbar to the header -->
        <mat-toolbar class="frm-login-toolbar">
          Login Form
        </mat-toolbar>
      </mat-card-header>

      <!-- define the material card content -->
      <mat-card-content class="frm-login-body">
        <!-- define the user name input -->
        <mat-form-field>
          <input type="text" matInput placeholder="Username">
        </mat-form-field>
        <!-- define the password input -->
        <mat-form-field>
          <input type="password" matInput placeholder="Password">
        </mat-form-field>
      </mat-card-content>

      <!-- define the container for the buttons -->
      <mat-card-actions class="frm-login-actions">
        <button mat-raised-button class="btn-cancel">Cancel</button>
        <button mat-raised-button class="btn-login">Sign In</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
