.menu{
  position: fixed;
  top: 0;
  left: 0;
  right:0,
  z-index = 0;
  color: white;
}

.left{
  border-right: 1px solid;
}

h4{
  color: darkblue;
  text-align: center;
  width: 100%;
  margin-top: 4rem;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.wrapper{
  margin-top: 3rem;
  padding: 2rem;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  text-align: center;
  align-content: center;

}

.parent {
  background-color: lightskyblue;
  padding: 5px;
}
