<!--
============================================
; Title: Exercise 4.3
; Author: Troy Martin
; Date: 09/27/20xx
; Modified By: Troy Martin
; Description: Handling Form Events with Observables
;===========================================
-->

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Observables</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="javascript:void(0);" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0);" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0);" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<br /><br />
<div class="container">
  <div class="row col">
    <h2>Handling form events with Observables</h2>
  </div>
  <div class="row col">
    <div class="form-group w-50">
      <label for="txtStockPrice">Stock Price Search</label>
      <input
        type="text"
        class="form-control"
        id="txtStockPrice"
        placeholder="Enter a stock to get the price..."
        [formControl]="searchInput"
      />
    </div>
  </div>
  <div class="row col" *ngIf="convertedStockPrice">
    <h4>{{ convertedStockPrice }}</h4>
  </div>
</div>
