.menu{
  position: fixed;
  top: 0;
  left: 0;
  right:0,
  z-index = 0;
  color: white;
}

.left{
  border-right: 1px solid;
}

.wrapper{
  width: 100%;
  margin-top: 3rem;
  padding: 2rem;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  text-align: center;
}
