
.frm-login{
  width: 50%;
  margin: 0 auto;
}
.frm-login-panel{
  border: 1px solid;
}
.frm-login-header{
  background-color: #3f51b5;
}
.frm-login-toolbar{
  background-color: #3f51b5;
  color: white;
}
.frm-login-body{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.btn-login{
  background-color: #3f51b5;
  color: white;
}
.btn-cancel{
  background-color: gray;
  color: white;
}
.frm-login-actions{
  text-align: right;
}
.wrapper{
  width: 100%;
  margin-top: 10%;
}
